# DISTRICT SUMMARY

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_merged = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merged.head(20)

In [46]:
# Create array of unique school names
unique_school_names = school_data_merged["school_name"].unique()

# Calculate the number of schools
Total_Schools = len(unique_school_names)

# Calculate the total students
Total_Students = school_data_merged["student_name"].count()

# Calculate Total Budget Allocation
Total_Budget = school_data["budget"].sum()

# Calculate average Math Score
Average_Math_Score = school_data_merged["math_score"].mean()

# Calculate average Reading Score
Average_Reading_Score = school_data_merged["reading_score"].mean()

# Calculate % Passing Math
num_passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
pct_pass_math = num_passing_math/Total_Students

# Calculate % Passing Reading 
num_passing_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
pct_pass_reading = num_passing_reading/Total_Students  

# Calculate % Overall passing
overall_pass = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)].count()['student_name']                        
pct_overall_pass = overall_pass/Total_Students                                       

# Place all the Data into a summary dataframe
district_summary_df = pd.DataFrame({"Total Schools" : [Total_Schools],
                                    "Total Students" : [Total_Students],
                                    "Total Budget" : [Total_Budget],
                                    "Average Math Score" : [Average_Math_Score],
                                    "Average Reading Score" : [Average_Reading_Score],
                                    "% Passing Math": [pct_pass_math],
                                    "% Passing Reading": [pct_pass_reading],
                                    "% Overall Passing": [pct_overall_pass]})

district_summary_column = district_summary_df[["Total Schools",
                                               "Total Students",
                                               "Total Budget",
                                               "Average Reading Score",
                                               "% Passing Math",
                                               "% Passing Reading",
                                               "% Overall Passing"]]
                                       
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)  
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format) 
district_summary_df["% Passing Math"] = (district_summary_df["% Passing Math"]*100).map("{:.8}".format)
district_summary_df["% Passing Reading"] = (district_summary_df["% Passing Reading"]*100).map("{:.8}".format)
district_summary_df["% Overall Passing"] = (district_summary_df["% Overall Passing"]*100).map("{:.8}".format)

district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

  # SCHOOL SUMMARY

In [ ]:
# Calculate School Type
school_types = school_data_merged.set_index(["school_name"])["type"]

# Calculate Total Student count
per_school_count = school_data_merged["school_name"].value_counts()

# Calculate Total School budget
per_school_budget = school_data_merged.groupby(["school_name"]).mean()["budget"]

# Calculate per school and per capita spending
per_school_capita = per_school_budget / per_school_count

# Calculate the average math scores
per_school_math = school_data_merged.groupby(["school_name"]).mean()["math_score"]

# Calculate the average reading scores
per_school_reading = school_data_merged.groupby(["school_name"]).mean()["reading_score"]

# Calculate % Passing math
school_passing_math = school_data_merged[(school_data_merged["math_score"] >= 70)]
pct_passing_math = school_passing_math/per_school_count

# Calculate % Passing Reading
school_passing_reading = school_data_merged[(school_data_merged["reading_score"] >= 70)]
pct_passing_reading = school_passing_reading/per_school_count

# Calculate % Overall Passing
passing_math_and_reading = school_data_merged[(school_data_merged["math_score"] >= 70) & (school_data_merged["reading_score"] >= 70)]
pct_overall_passing = passing_math_and_reading/per_school_count

In [ ]:
# Place all the Data into a summary dataframe
school_summary = pd.DataFrame({"School Type" : school_types,
                            "Total Students" : total_students,
                            "Total School Budget" : sch_budget,
                            "Per Student Budget" : stu_budget,
                            "Average math Score" : per_school_math,
                            "Average Reading Score" : per_school_reading,
                            "% Passing Math": pct_passing_math,
                            "% Passing Reading": pct_passing_reading,
                            "% Overall Passing": pct_overall_passing })

school_summary_column = sch_summary_df[["School Type",
                                     "Total Students",
                                     "Total School Budget",
                                     "Per Student Budget",
                                     "Average Math Score",
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing"]]

school_summary_column

# TOP PERFORMING SCHOOLS BY PASSING RATE

In [ ]:
# Sort values by Passing rate and then only print the head
top_5 = school_data_merged.sort_values("% Overall Passing", ascending = False)

school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)  
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format) 
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format) 
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.6%}".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.6%}".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.6%}".format)

school_summary_df.head()

# BOTTOM PERFORMING SCHOOLS BY PASSING RATE

In [ ]:
# Bottom 5 schools from worse to best

bottom_5 = top_5.tail()
bottom_5 = bottom_5.sort_values("% Overall Passing Rate")

school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)  
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format) 
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format) 
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.6%}".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.6%}".format)
school_summary_df["% Overall Passing"] = dschool_summary_df["% Overall Passing"].map("{:.6%}".format)

school_summary_df.tail()

# MATH SCORES BY GRADE

In [48]:
# Create grade level avaergae math scores for each school
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({ '9th': ninth_math,
                             '10th': tenth_math,
                             '11th': eleventh_math,
                             '12th': ninth_math})

math_scores = math_scores[['9th', '10th', '11th', '12th']]

math_scores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  77.083676
Cabrera High School    83.094697  83.154506  82.765560  83.094697
Figueroa High School   76.403037  76.539974  76.884344  76.403037
Ford High School       77.361345  77.672316  76.918058  77.361345
Griffin High School    82.044010  84.229064  83.842105  82.044010
Hernandez High School  77.438495  77.337408  77.136029  77.438495
Holden High School     83.787402  83.429825  85.000000  83.787402
Huang High School      77.027251  75.908735  76.446602  77.027251
Johnson High School    77.187857  76.691117  77.491653  77.187857
Pena High School       83.625455  83.372000  84.328125  83.625455
Rodriguez High School  76.859966  76.612500  76.395626  76.859966
Shelton High School    83.420755  82.917411  83.383495  83.420755
Thomas High School     83.590022  83.087886  83.498795  83.590022
Wilson High School     83.085578  83.724422  83.195326  83.085578
Wright High School     83.264706  84.010288  83.836782  83.264706

# READING SCORES BY GRADE

In [49]:
# Create grade level avaergae math scores for each school
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

math_scores = pd.DataFrame({ '9th': ninth_reading,
                             '10th': tenth_reading,
                             '11th': eleventh_reading,
                             '12th': ninth_reading})

Reading_scores = math_scores[['9th', '10th', '11th', '12th']]

Reading_scores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  81.303155
Cabrera High School    83.676136  84.253219  83.788382  83.676136
Figueroa High School   81.198598  81.408912  80.640339  81.198598
Ford High School       80.632653  81.262712  80.403642  80.632653
Griffin High School    83.369193  83.706897  84.288089  83.369193
Hernandez High School  80.866860  80.660147  81.396140  80.866860
Holden High School     83.677165  83.324561  83.815534  83.677165
Huang High School      81.290284  81.512386  81.417476  81.290284
Johnson High School    81.260714  80.773431  80.616027  81.260714
Pena High School       83.807273  83.612000  84.335938  83.807273
Rodriguez High School  80.993127  80.629808  80.864811  80.993127
Shelton High School    84.122642  83.441964  84.373786  84.122642
Thomas High School     83.728850  84.254157  83.585542  83.728850
Wilson High School     83.939778  84.021452  83.764608  83.939778
Wright High School     83.833333  83.812757  84.156322  83.833333

# SCORES BY SCHOOL SPENDING

In [ ]:
# Create spending bins
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['<$585', "$585 - 614", "$615 - 644", "> $644"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)

# group by spending
by_spending = merged_df.groupby('spending bins')

# calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_reading = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

overall = merged_df[(merged_df['math_score'] >= 70) & merged_df[(merged_df['reading_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/
by_spending['Student ID'].count()
                    
#df build
scores_by_spend = pd.DataFrame({ "Average Math Score" : avg_math,
                                 "Average Reading Score" : avg_read,
                                 "% Passing Math" : pass_math,
                                 "% Passing Reading" : pass_reading,
                                 "% Overall Passing" : overall})

scores_by_spend = scores by summary.df [[ "Average Math Score",
                                          "Average Reading Score",
                                          "% Passing Math",
                                          "% Passing Reading",
                                          "% Overall Passing"]]

# SCORE BY SCHOOL SIZE

In [ ]:
# Create Bins
bins = [0, 999, 1999, 99999]
group_name = ["Small(<1000)", "Medium (1000-2000)", "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

# Group by Spending
by_size = school-data_merged.groupby('size bins')

# Calculations

avg_math = by_size['math_score'].mean()
avg_read = by_size['reading_score'].mean()

pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

pass_reading = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

overall = merged_df[(merged_df['math_score'] >= 70) & merged_df[(merged_df['reading_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/
by_spending['Student ID'].count()
                    
#df build
scores_by_spend = pd.DataFrame({ "Average Math Score" : avg_math,
                                 "Average Reading Score" : avg_read,
                                 "% Passing Math" : pass_math,
                                 "% Passing Reading" : pass_reading,
                                 "% Overall Passing" : overall})

scores_by_spend = scores by summary.df [[ "Average Math Score",
                                          "Average Reading Score",
                                          "% Passing Math",
                                          "% Passing Reading",
                                          "% Overall Passing"]]

# SCORES BY SCHOOL TYPE

In [ ]:
# group by schhol type
by_type = school_data_merged.groupby("type")


# Calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()

pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()


pass_reading = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
 

overall = merged_df[(merged_df['math_score'] >= 70) & merged_df[(merged_df['reading_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/
by_spending['Student ID'].count()
                    
#df build
scores_by_type = pd.DataFrame({ "Average Math Score" : avg_math,
                                 "Average Reading Score" : avg_read,
                                 "% Passing Math" : pass_math,
                                 "% Passing Reading" : pass_reading,
                                 "% Overall Passing" : overall})

scores_by_type = scores by summary.df [[ "Average Math Score",
                                          "Average Reading Score",
                                          "% Passing Math",
                                          "% Passing Reading",
                                          "% Overall Passing"]]